{% extends 'index.html' %}
{% load static %}

{% block title %}
    <title>E-Cart | Signup</title>
{%endblock%}

{% block body %}
<div class="container-fluid w-100">
    <div class="w-75 m-auto">
        <h5 class="text-center bg-primary p-2"> <span class="text-success">Create</span><span>A Free Account</span></h5>
        {% for m in messages %}
        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
            {{m}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        <form action="/signup/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Name</label>
                    <input type="text" required name="name" placeholder="Enter Full Name" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>User Name</label>
                    <input type="text" required name="username" placeholder="Enter User Name" class="form-control">
                </div>   
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="email" required name="email" placeholder="Enter Email" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Mobile</label>
                    <input type="text" required name="mobile" placeholder="Enter Mobile Number" class="form-control">
                </div>   
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Password</label>
                    <input type="password" required name="password" placeholder="Enter Password" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" required name="cpassword" placeholder="Enter Confirm Password" class="form-control">
                </div>   
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>

        <div class="mb-3 d-flex justify-content-between">
            <a href="/login/" class="text-success">Already User?Login To Your Account</a>
        </div>

    </div>
</div>
{% endblock %}